# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Create a Jupyter Notebook
+ Create markdown cells for ordered and unordered list, tables, headings
+ Create code cells for arithmetic expression
+ Screenshot of each exercise

Some of the popular languages that Data Scientists use are:

1. Python 
2. SQL 
3. R 
4. JavaScript

Some of the popular languages that Data Scientists use are:
1. Matplotlib
2. NumPY
3. Pandas
4. SciPY

| Data Science Tools |
| ------ |
| Jupyter Notebook |
| RStudio |
| GitHUb |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author
Akash P